@font-face {
  font-family: RobotoCondensed;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap')
}

h1, h2, h3, h4, h5, p, a, span, input {
  color: var(--color-light);
  font-family: var(--font-primary);
  text-transform: uppercase;
}

a {
    text-decoration: none;
}



