@import './reset.css';
@import './fonts.css';
@import './layout.css';

:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-primary: #EC1D24;
    --color-primary-gradiant-quarter: 236, 29, 36, 0.7;
    --color-primary-gradiant-half: 236, 29, 36, 0.4;
    --font-primary: 'RobotoCondensed', sans-serif;
    --font-size-input: 16px;
}


a {
    text-decoration: none;
}
