
.full-container {
    width: 100%;
}

.container {
    width: 960px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.grow {
    flex-grow: 1;
}

.card {
    width: 188px;
    height: 246px;
    display: flex;
    flex-direction: column;
}

.thumbnail {
    width:  188px;
    height: 250px;
}


@media screen and (max-width: 960px) {
    .container {
        width: 90%;
    }    
}

