.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.headerBg {
    background-color: var(--color-dark);
}

.favorites {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.counterText{
    color: var(--color-light);
    font-family: var(--font-primary);
}

