.banner {
    display: flex;
    justify-content: center;
}


.thumbnail {
    width:320px;
    height: 320px;
}


@media screen and (max-width: 768px) {
    .banner {
        display:flex;
        flex-direction: column;
        max-width: 100%;
    }

    .thumbnail {
        width:100vw;
        height: auto;
    }

}

