.heroLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    background-color: var(--color-dark);
}

.bannerText {
    color: var(--color-light);
}



