.heroCard {
    background-color: var(--color-dark);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 92% 100%, 0 100%);
    height: 250px;
}

.heroCard:hover .cardContent {
    background-color: var(--color-primary);
    background-position: 50 0px;
    transition: all .3s;
}

.heroCard:hover .cardContent .iconIsFavorite {
    fill: var(--color-light);
}

.heroCard:hover .cardContent .iconNoneIsFavorite {
    fill: var(--color-dark);
}

.cardThumbnail {
    height: 190px;
}

.cardContent {
    border-top: 0.3rem solid var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0px 10px 0px 20px;
    height: 56px;
}

.iconIsFavorite {
    fill: var(--color-primary);
}

.iconNoneIsFavorite {
    fill: var(--color-primary);
}




